// Importing Partials files
@use '../partials/variables' as *;

// Styling the addingMembers component
  .main {
    position: relative;

    .add-log-out {
        position: absolute;
        top: 21%;
        left: 15%;
        // background-color: $backgroundColor2;
        padding: .5rem 1rem;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        cursor: pointer;

        > a {
            i {
                color: $light;
                font-size: 2rem;
                transition: $transition;
    
                &:hover {
                    color: $blueBtnColor;
                }
            }
        }
    }

    .add-date {
        position: absolute;
        top: 20%;
        right: 30%;
                
        h3 {
            // font-size: 1rem;
            background-color: $blueBtnColor;
            color: $light;
            padding: .25rem 4rem;
            border-radius: .25rem;
            font-weight: normal;
        }
    }
    form {
      h1 {
          color: #fff;
          margin-bottom: 1.5rem;
      }
  
      // Styling Btns holder div
      .btns-holder {
          margin-bottom: 1.25rem;

          .message {
            color: $greenBtnColor;
            display: none;

            &.show {
                display: block;
            }
          }
  
          > button {
              font-size: 1.25rem;
              padding: .75rem 1.5rem;
              color: $light;
              // cursor: pointer;
              transition: $transition;
  
              &.affairs-btn {
                  background-color: $blueBtnColor;
  
                  &:hover {
                      background-color: rgb($blueBtnColor, .7);
                  }
              }
  
              &.add-student-btn {
                  background-color: $greenBtnColor;
  
                  &:hover {
                      background-color: rgb($greenBtnColor, .7);
                  }
              }
          }
      }
  
      .input-fields {
          margin-bottom: 1.5rem;
          // Styling left fields
          .left-fields {
              margin-bottom: 1rem;
          }
  
          .left-fields,
          .right-fields {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              gap: .5rem;

              .add-select {
                margin-top: -1rem;
              }
          }
  
      }

      .btns-holder {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: .5rem;
          .btn-download {
              background-color: $blueBtnColor;
              transition: $transition;
              color: $light;
      
              &:hover {
                  background-color: rgb($blueBtnColor, .7);
              }
          }

          .btn-add-student {
            color: $light;
            background-color: $light_green;
          }
      } 
  }

  //   Styling the list of links
.add-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor2;
    padding: 2.125rem 1rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-left: .15rem solid $light;

    .logo {
        margin-bottom: 1.5rem;
        width: 200px;
    }

    .add-links {
        display: flex;
        flex-direction: column;

        a {
            color: $light;
            text-decoration: none;
            background-color: $blueBtnColor;
            padding: .5rem 2rem;
            margin-bottom: .79rem;
            transition: $transition;

            &:hover {
                color: $lightBlue1;
                transform: scale(1.1);
            }
        }
    }
}
  }
  
  
input[type="text"], .add-select, button {
    padding: .75rem 2rem;
    border-radius: .25rem;
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 1.15rem;
}