// Set of colors variables
$light: #fff;
$dark: #222;
$gray: #555;
$lightBlue1:#2a2f45;
$lightBlue2:#323a55;
$light_green:#45a049;
$backgroundColor: #1C4061;
$backgroundColor2:#323a55;
$blueBtnColor: #0066ff;
$greenBtnColor: #4CAF50;
$redBtnColor: #f44336;



// Transitions
$transition: all .3s ease-in-out;